<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <style>
        .highlight {
            color: white; }
    </style>
 <style>
        body{
            .container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                left: 0 px;
                right: 0 px;
                align-items: center;}
             }
    </style>

    
</head>
<body>
 <div class="container">
<div style = "background-color:rgb(115, 209, 118);width: 100%">
   <h1>plant<b><span class="highlight">Ai</span></b><span>tion </span></h1>
     <img src="static/Logo.jpeg" alt="Logo">


</div>

<div>
    <h3>
        PFLANZENAMPEL
    </h3>
</div>

<div>
    
    <h2>
       Super!Ihrer Pflanze geht es gut!
    </h2>
</div>
<img src="static/Blatt_gruen.jpeg" alt="Jubelndes Blatt">

</body>
</html>